
.house{
font-weight:bold;
}


header{
    background-color: #AAAAAA;
}
h3 {
color: #1a472a;
text-align: center;

}
p {
    color: #2A623D;
    text-align: center;
    
    }


   

body {
    background-color: #5D5D5D;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p::first-letter {
    text-transform: uppercase;
    font-size: xx-large;
    color: #1A472A;
}
