:root {
    --lightgreen: #2A623D;
    --darkgreen: #1A472A;
    --gray: #5D5D5D;
    --lightgray: #AAAAAA;
    --black: #000000;
    }

html {
    background-color: var(--lightgray);
}

h1 {
    color: var(--darkgreen);
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: var(--lightgreen);
}

p {
    color: var(--black);
}

img {
    max-width: 150px;
    max-height: 130px;
}

.smalltext {
    font-size: xx-small;
}